* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

.home{
    height: 100px;
    width: 100px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.casillaHorizontal{
    height: 40px;
    width: 80px;
    background-color: aqua;
    position: absolute;
}

.casillaDiagonalUno{
    height: 40px;
    width: 80px;
    background-color: palevioletred;
    position: absolute;
    transform: rotate(60deg);
}

.casillaDiagonalDos{
    height: 40px;
    width: 80px;
    background-color: blue;
    position: absolute;
    transform: rotate(-60deg);
}

#tablero {
    height: 900px;
    width: 900px;
    background-image: url("./tablero6.png");
    background-size: cover;
}

#pinkHouse{
    margin-left: 220px;
    margin-top: 80px;
}

#pinkSalida{
    margin-left: 330px;
    margin-top: 155px;
}

#pinkSeguroUno{
    margin-left: 410px;
    margin-top: 15px;
}

#pinkSeguroDos{
    margin-left: 215px;
    margin-top: 225px;
}

#orangeHouse{
    margin-left: 575px;
    margin-top: 80px;
}

#orangeSalida{
    margin-left: 605px;
    margin-top: 225px;
}

#orangeSeguroUno{
    margin-left: 770px;
    margin-top: 220px;
}

#orangeSeguroDos{
    margin-left: 490px;
    margin-top: 155px;
}

#blueHouse{
    margin-left: 780px;
    margin-top: 400px;
}

#blueSalida{
    margin-left: 690px;
    margin-top: 500px;
}

#blueSeguroUno{
    margin-left: 770px;
    margin-top: 640px;
}

#blueSeguroDos{
    margin-left: 690px;
    margin-top: 360px;
}

#yellowHouse{
    margin-left: 575px;
    margin-top: 720px;
}

#yellowSalida{
    margin-left: 490px;
    margin-top: 705px;
}

#yellowSeguroUno{
    margin-left: 410px;
    margin-top: 845px;
}

#yellowSeguroDos{
    margin-left: 610px;
    margin-top: 635px;
}

#redHouse{
    margin-left: 220px;
    margin-top: 720px;
}

#redSalida{
    margin-left: 215px;
    margin-top: 635px;
}

#redSeguroUno{
    margin-left: 50px;
    margin-top: 640px;
}

#redSeguroDos{
    margin-left: 330px;
    margin-top: 705px;
}

#greenHouse{
    margin-left: 20px;
    margin-top: 400px;
}

#greenSalida{
    margin-left: 130px;
    margin-top: 360px;
}

#greenSeguroUno{
    margin-left: 50px;
    margin-top: 220px;
}

#greenSeguroDos{
    margin-left: 130px;
    margin-top: 500px;
}

.tab {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    z-index: 1000;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.greenTab{
    background-color: rgb(66, 210, 66);
}
.blueTab{
    background-color: rgb(53, 53, 188);
}
.yellowTab{
    background-color: rgb(244, 244, 115);
}
.redTab{
    background-color: rgb(248, 56, 56);
}
.pinkTab{
    background-color: rgb(254, 127, 148);
}
.orangeTab{
    background-color: rgb(244, 176, 49);
}