* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    margin:0;
    text-align: center;
    position: relative;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20;
    color: rgb(66, 12, 151);
    margin: 50px;
}

select{
    width: 70px;
    margin: 10px;
    transition-duration: 200ms;
}

.btn{
    height: 30px;
    width: 100px;
    background-color: rgb(120, 120, 239);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    transition-duration: 300ms ;
}

.btn:hover{
    background-color: rgb(88, 88, 240);
    cursor: pointer;
    height: 35px;
    width: 110px;
    transition-duration: 300ms ;
}



select:hover{
    background-color: rgb(206, 206, 246);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 200ms;
    font-weight: 100;
}

.label:hover{
    cursor: pointer;
}

.btn-radio:hover{
    cursor: pointer;
}

#head, #cont, #foot{
    margin: 20px;
    align-items: center;
}

#head{
    height: 200px;
    width: 800px;
    border: 5px dotted blue;
    position: relative;
    top: 0;
}

#cont{
    height: fit-content;

}

#foot{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: rgb(76, 76, 76);
    width: 800px;
    border: 5px dotted blue;
    margin: 0 0 20px 0;
    position: relative;
    bottom: 0;
}

#titulo{
    width: 700px;
}

#icono{
    width: 90px;
}

p{
    margin:5px;
}

