* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

.home{
    height: 200px;
    width: 200px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.casillaVertical{
    display: flex;
    flex-wrap: wrap;
    height: 118px;
    width: 38px;
    background-color: blueviolet;
    position: absolute;
}

.casillaHorizontal{
    height: 38px;
    width: 118px;
    background-color: aqua;
    position: absolute;
}

#tablero {
    height: 900px;
    width: 900px;
    background-image: url("./tablero4.png");
    background-size: cover;
    position: relative;
}

#blueHome{
    margin-left: 30px;
    margin-top: 30px;
}

#blueSeguroUno{
    margin-left: 392px;
}

#blueSalida{
    margin-left: 274px;
    margin-top: 148px;
}

#blueSeguroDos{
    margin-top: 274px;
    margin-left: 148px;
}

#yellowHouse{
    margin-left: 30px;
    margin-top: 670px;
}

#yellowSalida{
    margin-top: 510px;
    margin-left: 148px;
}

#yellowSeguroUno{
    margin-top: 392px;
}

#yellowSeguroDos{
    margin-top: 714px;
    margin-left: 274px;                                                             
}

#greenHouse{
    margin-left: 670px;
    margin-top: 30px;
}

#greenSalida{
    margin-top: 274px;
    margin-left: 714px;
}

#greenSeguroUno{
    margin-top: 392px;
    margin-left: 862px;
}

#greenSeguroDos{
    margin-top: 148px;
    margin-left: 510px;                                                           
}

#redHouse{
    margin-left: 670px;
    margin-top: 670px;
}

#redSalida{
    margin-top: 714px;
    margin-left: 510px;  
}

#redSeguroUno{
    margin-top: 862px;
    margin-left: 392px;
}

#redSeguroDos{
    margin-top: 510px;
    margin-left: 714px;                                                           
}

.tab {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    z-index: 1000;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.greenTab{
    background-color: rgb(66, 210, 66);
}
.blueTab{
    background-color: rgb(53, 53, 188);
}
.yellowTab{
    background-color: rgb(244, 244, 115);
}
.redTab{
    background-color: rgb(248, 56, 56);
}
.pinkTab{
    background-color: rgb(254, 127, 148);
}
.orangeTab{
    background-color: rgb(244, 176, 49);
}

.alert{
    opacity: 0;
    position: absolute;
    width: 800px;
    max-width: 500px;
    word-wrap: break-word;
    z-index: 100;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    background-color: rgba(197, 214, 237, 0.564);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 10px;
    transition-duration: 500ms;
    text-align: center;
    text-justify: auto;
}

.show-alert{
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}