* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    background-color: azure;
}
.content{
    display: flex;
    flex-direction: row;
}

.dice-container{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dice-img img{
    height: 100px;
    width: 100px;
    margin: 3px;
    border-radius: 5px;
}

.dice-control{
    border-radius: 5px;
    background-color: rgb(203, 251, 251);
    padding: 15px;
    margin-top: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30% 8px 8px 8px;
    margin-bottom: 100px;
}

.btn{
    width: 60%;
    margin: 10px 0;
    height: 35px;
    background-color: rgb(120, 120, 239);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    transition-duration: 300ms ;
}

.btn-dices:hover{
    background-color: rgb(88, 88, 240);
    width: 70%;
    transition-duration: 300ms ;
}

.btn-active{
    border-color:  rgb(95, 95, 245);
    box-shadow: 0 0 15px 5px  rgb(120, 120, 239);
}

.btn:hover{
    cursor: pointer;
}

.home{
    height: 200px;
    width: 200px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.casillaVertical{
    display: flex;
    flex-wrap: wrap;
    height: 118px;
    width: 38px;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.casillaHorizontal{
    height: 38px;
    width: 118px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.square-showed{
    border: solid;
    border-width: 3px;
    outline: none;
    border-color: blueviolet;
    box-shadow: 0 0 15px blueviolet;
}

.finish{
    width: 80px;
    height: 80px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#tablero {
    height: 900px;
    width: 900px;
    background-image: url("./tablero4.png");
    background-size: cover;
    position: relative;
}

#blueHome{
    margin-left: 30px;
    margin-top: 30px;
}

#blueSeguroUno{
    margin-left: 392px;
}

#blueSalida{
    margin-left: 274px;
    margin-top: 148px;
}

#blueSeguroDos{
    margin-top: 274px;
    margin-left: 148px;
}

#yellowHouse{
    margin-left: 30px;
    margin-top: 670px;
}

#yellowSalida{
    margin-top: 510px;
    margin-left: 148px;
}

#yellowSeguroUno{
    margin-top: 392px;
}

#yellowSeguroDos{
    margin-top: 714px;
    margin-left: 274px;                                                             
}

#greenHouse{
    margin-left: 670px;
    margin-top: 30px;
}

#greenSalida{
    margin-top: 274px;
    margin-left: 714px;
}

#greenSeguroUno{
    margin-top: 392px;
    margin-left: 862px;
}

#greenSeguroDos{
    margin-top: 148px;
    margin-left: 510px;                                                           
}

#redHouse{
    margin-left: 670px;
    margin-top: 670px;
}

#redSalida{
    margin-top: 714px;
    margin-left: 510px;  
}

#redSeguroUno{
    margin-top: 862px;
    margin-left: 392px;
}

#redSeguroDos{
    margin-top: 510px;
    margin-left: 714px;                                                           
}

#blueFinish{
    margin-top: 330px;
    margin-left: 410px;
}

#yellowFinish{
    margin-top: 410px;
    margin-left: 330px;
}

#greenFinish{
    margin-top: 410px;
    margin-left: 490px;
}

#redFinish{
    margin-top: 490px;
    margin-left: 410px;
}

#contDados{
    height: 350px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(120, 120, 239);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    transition-duration: 300ms ;
}

#controles{
    height: 550px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
    background-color: rgb(202, 250, 250);
}

#alert{
    width: 390px;
    height: 120px;
    border: 5px dotted rgb(120, 120, 239);
}

.alertControl{
    width: 390px;
    height: 120px;
    border: 5px dotted rgb(120, 120, 239);
    overflow-y: auto;
    scroll-behavior: smooth;
    word-wrap: normal;
}

#titleEvents{
    font-size: 20px;
}

.alertControl p{
    margin: 0px 0px 0px 5px;
}

.tab {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    z-index: 1000;
    border: solid;
    border-color: black;
    border-width: 2px;
    filter: brightness(100%);
}

.casillaHorizontal .tab{
    width: 18px;
    height: 18px;
    margin: 5px;
    border-radius: 50%;
    z-index: 1000;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.casillaVertical .tab{
    width: 18px;
    height: 18px;
    margin: 5px;
    border-radius: 50%;
    z-index: 1000;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.finish .tab{
    width: 13px;
    height: 13px;
    margin: 5px;
    border-radius: 50%;
    z-index: 1000;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.casillaHorizontal .tab-clicked{
    width: 18px;
    height: 18px;
    margin: 5px;
    border-radius: 50%;
    z-index: 1000;
    border: solid;
    border-width: 2px;
    border: solid;
    border-color: rgb(255, 174, 0);
    filter: brightness(75%);
}

.casillaVertical .tab-clicked{
    width: 18px;
    height: 18px;
    margin: 5px;
    border-radius: 50%;
    z-index: 1000;
    border: solid;
    border-width: 2px;
    border: solid;
    border-color: rgb(255, 174, 0);
    filter: brightness(75%);
}


.casillaHorizontal .tab-active{
    outline: none;
    box-shadow: 0 0 15px 5px rgb(255, 247, 0);
}

.casillaVertical .tab-active{
    outline: none;
    box-shadow: 0 0 15px 5px rgb(255, 247, 0);
}

.tab-active:hover{
    filter: brightness(110%);
    outline: none;
    border-color: rgb(255, 247, 0);
    box-shadow: 0 0 15px 5px rgb(255, 247, 0);
}
.greenTab{
    background-color: rgb(66, 210, 66);
}
.blueTab{
    background-color: rgb(64, 92, 216);
}
.yellowTab{
    background-color: rgb(244, 244, 115);
}
.redTab{
    background-color: rgb(248, 56, 56);
}
.pinkTab{
    background-color: rgb(254, 127, 148);
}
.orangeTab{
    background-color: rgb(244, 176, 49);
}

.alert{
    opacity: 0;
    position: absolute;
    width: 800px;
    max-width: 500px;
    word-wrap: break-word;
    z-index: 100;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    background-color: rgba(197, 214, 237, 0.564);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 10px;
    transition-duration: 500ms;
    text-align: center;
    text-justify: auto;
}

.show-alert{
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

