* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

#tablero {
    height: 900px;
    width: 900px;
    background-image: url("tablero.jpg");
    background-size: cover;
}